* {
    margin: 0;
    padding: 0;
}

.pagination {
    display: inline-block;
}

.navigation {
    color: #000;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    cursor: pointer;
}

.navigation:hover {
    background-color: #ddd;
}