* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #a0a0a0;
}

/* Search Styles */
header {
  padding: 1.5em;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-input {
  margin: 0 1em;
  padding: 1em;
  width: 50em;
  border: none;
}

.search-btn {
  padding: 1em;
  width: 20em;
  border: none;
}

/* Navigation Styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  margin: 0 1em;
  width: 4em;
  height: 4em;
  color: #000;
  float: left;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 50%;
}

.navigation:hover {
  background-color: #ddd;
}

/* Container Styles */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}

/* Character Card Styles */
.character-card {
  width: 17em;
  margin-top: 2em;
  background-color: #fff;
  min-height: 28em;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.86);
}

.character-name {
  margin: 0.5em 0;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.character-img {
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.character-info {
  margin-top: 1.5em;
  padding: 0.5em 0;
  background-color: rgb(22, 0, 73);
}

.character-data {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}
